"""
Binance Web3 Wallet REST API

Cross-chain wallet, market, trading, transaction, and B402 payment APIs for the Binance Web3 API platform.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import GetB402SupportedConfigurationsV1Response
from ..models import GetB402SupportedConfigurationsV2Response
from ..models import SettleB402PaymentV1Response
from ..models import SettleB402PaymentV2Response
from ..models import VerifyB402PaymentV1Response
from ..models import VerifyB402PaymentV2Response
from ..models import B402SettleEnvelopeV1Body
from ..models import B402SettleEnvelopeV2Body
from ..models import VerifyB402PaymentV1RequestBody
from ..models import VerifyB402PaymentV2RequestBody


class B402PaymentsApi:
    """API Client for B402PaymentsApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_b402_supported_configurations_v1(
        self,
        body: Union[object, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetB402SupportedConfigurationsV1Response]:
        """
        Get B402 Supported Configurations V1
        POST /api/v1/b402/supported
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/b402-payments#get-b402-supported-configurations-v1

        Legacy V1 compatibility endpoint. New integrations should use V2. V1 returns `x402Version=1`, method-specific `facilitatorAddress`, and V1 signer-map semantics.

        Args:
            body (Union[object, None]):
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[GetB402SupportedConfigurationsV1Response]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if body is None:
            raise RequiredError(
                field="body", error_message="Missing required parameter 'body'"
            )

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "body": body,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/b402/supported",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=GetB402SupportedConfigurationsV1Response,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_b402_supported_configurations_v2(
        self,
        body: Union[object, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetB402SupportedConfigurationsV2Response]:
        """
        Get B402 Supported Configurations V2
        POST /api/v2/b402/supported
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/b402-payments#get-b402-supported-configurations-v2

        Return the live x402 V2 payment kinds available to the authenticated Developer Portal project. Use the result to construct HTTP 402 payment requirements. Copy the selected `extra` object verbatim and refresh cached configuration periodically.

        Args:
            body (Union[object, None]):
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[GetB402SupportedConfigurationsV2Response]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if body is None:
            raise RequiredError(
                field="body", error_message="Missing required parameter 'body'"
            )

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "body": body,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v2/b402/supported",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=GetB402SupportedConfigurationsV2Response,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def settle_b402_payment_v1(
        self,
        body: Union[B402SettleEnvelopeV1Body, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[SettleB402PaymentV1Response]:
        """
        Settle B402 Payment V1
        POST /api/v1/b402/settle
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/b402-payments#settle-b402-payment-v1

        Legacy V1 on-chain settlement endpoint. New integrations should use V2. This operation can move real funds and is irreversible. V1 additionally returns `confirmations` in the settlement result.

        Args:
            body (Union[B402SettleEnvelopeV1Body, None]):
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[SettleB402PaymentV1Response]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if body is None:
            raise RequiredError(
                field="body", error_message="Missing required parameter 'body'"
            )

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "body": body,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/b402/settle",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=SettleB402PaymentV1Response,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def settle_b402_payment_v2(
        self,
        body: Union[B402SettleEnvelopeV2Body, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[SettleB402PaymentV2Response]:
        """
        Settle B402 Payment V2
        POST /api/v2/b402/settle
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/b402-payments#settle-b402-payment-v2

        Submit a verified x402 V2 authorization on-chain. This operation can move real funds and is irreversible. For `permit2-upto`, provide `settleAmount` in atomic units. Business failure is returned as HTTP 200 with `data.success=false`; reconcile any non-empty transaction hash before retrying.

        Args:
            body (Union[B402SettleEnvelopeV2Body, None]):
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[SettleB402PaymentV2Response]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if body is None:
            raise RequiredError(
                field="body", error_message="Missing required parameter 'body'"
            )

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "body": body,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v2/b402/settle",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=SettleB402PaymentV2Response,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def verify_b402_payment_v1(
        self,
        body: Union[VerifyB402PaymentV1RequestBody, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[VerifyB402PaymentV1Response]:
        """
        Verify B402 Payment V1
        POST /api/v1/b402/verify
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/b402-payments#verify-b402-payment-v1

        Legacy V1 off-chain verification endpoint. New integrations should use V2. Portal identity is resolved from the API Key project, so `merchantId` is omitted from the external request.

        Args:
            body (Union[VerifyB402PaymentV1RequestBody, None]):
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[VerifyB402PaymentV1Response]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if body is None:
            raise RequiredError(
                field="body", error_message="Missing required parameter 'body'"
            )

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "body": body,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/b402/verify",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=VerifyB402PaymentV1Response,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def verify_b402_payment_v2(
        self,
        body: Union[VerifyB402PaymentV2RequestBody, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[VerifyB402PaymentV2Response]:
        """
        Verify B402 Payment V2
        POST /api/v2/b402/verify
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/b402-payments#verify-b402-payment-v2

        Validate an x402 V2 payment authorization off-chain without spending funds or broadcasting a transaction. Portal identity is resolved from the authenticated API Key project; omit `merchantId`. A validation failure is returned as HTTP 200 with `data.isValid=false`.

        Args:
            body (Union[VerifyB402PaymentV2RequestBody, None]):
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[VerifyB402PaymentV2Response]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if body is None:
            raise RequiredError(
                field="body", error_message="Missing required parameter 'body'"
            )

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "body": body,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v2/b402/verify",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=VerifyB402PaymentV2Response,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )
