"""
Binance Web3 Wallet REST API

Cross-chain wallet, market, trading, transaction, and B402 payment APIs for the Binance Web3 API platform.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import GetDeFiPositionsResponse
from ..models import GetInvestmentDetailResponse
from ..models import GetProtocolDetailResponse
from ..models import ListDeFiInvestmentsResponse
from ..models import ListDeFiProtocolsResponse
from ..models import ListDeFiInvestmentsInvestTypeEnum
from ..models import ListDeFiInvestmentsSortDirectionEnum
from ..models import ListDeFiProtocolsInvestTypeEnum
from ..models import ListDeFiProtocolsSortDirectionEnum


class DefiDataApi:
    """API Client for DefiDataApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_de_fi_positions(
        self,
        addresses: Union[List[str], None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        binance_chain_ids: Optional[List[str]] = None,
    ) -> ApiResponse[GetDeFiPositionsResponse]:
        """
                Get DeFi Positions
                POST /api/v1/defi/data/position/list
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-data#get-de-fi-positions

                Query DeFi positions for one or more wallet addresses on BSC. Returns protocol-level position summaries with token breakdowns. Optionally filter by specific chains via `binanceChainIds`.
        Position coverage is wider than the protocol list used by data queries and transaction building — see [Supported Chains & Protocols](../supported-chains) for the difference.

                Args:
                    addresses (Union[List[str], None]): Wallet addresses to query positions for. Up to 3 addresses per request (server-side configured and subject to change).
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    binance_chain_ids (Optional[List[str]] = None): Optional chain filter. When set, only positions on the specified chains are returned. This release supports BSC ("56") only.

                Returns:
                    ApiResponse[GetDeFiPositionsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if addresses is None:
            raise RequiredError(
                field="addresses",
                error_message="Missing required parameter 'addresses'",
            )

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {"addresses": addresses, "binance_chain_ids": binance_chain_ids}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/data/position/list",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=GetDeFiPositionsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_investment_detail(
        self,
        investment_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetInvestmentDetailResponse]:
        """
        Get Investment Detail
        POST /api/v1/defi/data/investment/detail
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-data#get-investment-detail

        Get detailed information for a specific DeFi investment product, including APY, TVL, supported tokens (asset / reward / LP / borrow), pool address, fee rate, and investability.

        Args:
            investment_id (Union[str, None]): Investment product identifier (64-char hex, no `0x` prefix). Same format as the `investmentIds` returned by `POST /api/v1/defi/data/position/list`.
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[GetInvestmentDetailResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if investment_id is None:
            raise RequiredError(
                field="investment_id",
                error_message="Missing required parameter 'investment_id'",
            )

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "investment_id": investment_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/data/investment/detail",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=GetInvestmentDetailResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_protocol_detail(
        self,
        defi_protocol_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetProtocolDetailResponse]:
        """
        Get Protocol Detail
        POST /api/v1/defi/data/protocol/detail
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-data#get-protocol-detail

        Get detailed information for a specific DeFi protocol, including description, highlights, CertiK security scores, team, fundraising, social links, and FAQ.

        Args:
            defi_protocol_id (Union[str, None]): DeFi protocol identifier.
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[GetProtocolDetailResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if defi_protocol_id is None:
            raise RequiredError(
                field="defi_protocol_id",
                error_message="Missing required parameter 'defi_protocol_id'",
            )

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "defi_protocol_id": defi_protocol_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/data/protocol/detail",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=GetProtocolDetailResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def list_de_fi_investments(
        self,
        invest_type: Union[ListDeFiInvestmentsInvestTypeEnum, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        defi_protocol_id: Optional[str] = None,
        token_address_list: Optional[List[str]] = None,
        binance_chain_id: Optional[str] = None,
        sort_field: Optional[str] = None,
        sort_direction: Optional[ListDeFiInvestmentsSortDirectionEnum] = None,
        page: Optional[int] = None,
        size: Optional[int] = None,
    ) -> ApiResponse[ListDeFiInvestmentsResponse]:
        """
        List DeFi Investments
        POST /api/v1/defi/data/investment/list
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-data#list-de-fi-investments

        List available DeFi investment products. Filter by protocol, chain, investment type, or contract address. Results are paginated and sortable.

        Args:
            invest_type (Union[ListDeFiInvestmentsInvestTypeEnum, None]): Filter by investment type. Required. Known values: `Earn`, `LiquidityPool`.
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            defi_protocol_id (Optional[str] = None): Filter by DeFi protocol ID.
            token_address_list (Optional[List[str]] = None): Filter by token addresses.
            binance_chain_id (Optional[str] = None): Filter by Binance chain ID (e.g. "56"=BSC).
            sort_field (Optional[str] = None): Field to sort by. Only two values are accepted: `tvl`, `apy`. Note: sorting by APY uses `apy` (the server-side field name), even though the response exposes `apyBps` / `apyDisplay`. Other values are not supported.
            sort_direction (Optional[ListDeFiInvestmentsSortDirectionEnum] = None): Sort direction.
            page (Optional[int] = None): Page number (1-based).
            size (Optional[int] = None): Page size. Max: 100.

        Returns:
            ApiResponse[ListDeFiInvestmentsResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if invest_type is None:
            raise RequiredError(
                field="invest_type",
                error_message="Missing required parameter 'invest_type'",
            )

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "invest_type": invest_type,
            "defi_protocol_id": defi_protocol_id,
            "token_address_list": token_address_list,
            "binance_chain_id": binance_chain_id,
            "sort_field": sort_field,
            "sort_direction": sort_direction,
            "page": page,
            "size": size,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/data/investment/list",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=ListDeFiInvestmentsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def list_de_fi_protocols(
        self,
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        binance_chain_id: Optional[str] = None,
        invest_type: Optional[ListDeFiProtocolsInvestTypeEnum] = None,
        sort_field: Optional[str] = None,
        sort_direction: Optional[ListDeFiProtocolsSortDirectionEnum] = None,
        page: Optional[int] = None,
        size: Optional[int] = None,
    ) -> ApiResponse[ListDeFiProtocolsResponse]:
        """
        List DeFi Protocols
        POST /api/v1/defi/data/protocol/list
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-data#list-de-fi-protocols

        List supported DeFi protocols with optional filtering by chain and investment type. Results are paginated and sortable.

        Args:
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            binance_chain_id (Optional[str] = None): Filter by Binance chain ID (e.g. "56"=BSC).
            invest_type (Optional[ListDeFiProtocolsInvestTypeEnum] = None): Filter by investment type. Known values: `Earn`, `LiquidityPool`.
            sort_field (Optional[str] = None): Field to sort by. Only two values are accepted: `tvl`, `apy`. Note: sorting by APY uses `apy` (the server-side field name), even though the response exposes `apyBps` / `apyDisplay`. Other values are not supported.
            sort_direction (Optional[ListDeFiProtocolsSortDirectionEnum] = None): Sort direction.
            page (Optional[int] = None): Page number (1-based).
            size (Optional[int] = None): Page size. Max: 200.

        Returns:
            ApiResponse[ListDeFiProtocolsResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "binance_chain_id": binance_chain_id,
            "invest_type": invest_type,
            "sort_field": sort_field,
            "sort_direction": sort_direction,
            "page": page,
            "size": size,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/data/protocol/list",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=ListDeFiProtocolsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )
