"""
Binance Web3 Wallet REST API

Cross-chain wallet, market, trading, transaction, and B402 payment APIs for the Binance Web3 API platform.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import BuildDeFiClaimTransactionResponse
from ..models import BuildDeFiDepositTransactionResponse
from ..models import BuildDeFiRedeemTransactionResponse
from ..models import BuildLpAddTransactionResponse
from ..models import BuildLpRemoveTransactionResponse
from ..models import CalculateLpAddPairedAmountsResponse
from ..models import BuildDeFiDepositTransactionRequestToken
from ..models import BuildDeFiRedeemTransactionRequestToken
from ..models import BuildLpAddTransactionRequestTokenListInner
from ..models import BuildDeFiClaimTransactionClaimTypeEnum


class DefiTransactionApi:
    """API Client for DefiTransactionApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def build_de_fi_claim_transaction(
        self,
        address: Union[str, None],
        claim_type: Union[BuildDeFiClaimTransactionClaimTypeEnum, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        binance_chain_id: Optional[str] = None,
        investment_id: Optional[str] = None,
        defi_protocol_id: Optional[str] = None,
        nft_id: Optional[str] = None,
        redemption_id: Optional[str] = None,
        token_address_list: Optional[List[str]] = None,
        simulate: Optional[bool] = None,
    ) -> ApiResponse[BuildDeFiClaimTransactionResponse]:
        """
                Build DeFi Claim Transaction
                POST /api/v1/defi/transaction/claim
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-transaction#build-de-fi-claim-transaction

                Build the unsigned claim calldata for one of four claim types — see `DefiClaimType` for which companion fields each type requires **and which protocol constraints apply** (e.g. `REWARD_PROTOCOL` is not supported for LP protocols; PancakeSwap V3 farming uses `LP_FEE`, not `REWARD_INVESTMENT`). Returns an ordered `dataList` (typically `[CLAIM]`).
        **`binanceChainId` resolution rules**:
        - Normally resolved from `investmentId`; the call always executes on that chain.
        - For claim types other than `REWARD_PROTOCOL`, any client-supplied `binanceChainId` is
          **silently ignored** — passing a different chainId will not redirect the claim.

        - **Exception**: `REWARD_PROTOCOL` with no `investmentId` — the client MUST pass
          `binanceChainId` (it is the only chain signal).

        `tokenAddressList` optionally narrows the claim scope. Set `simulate=true` to also receive `preview`.

                Args:
                    address (Union[str, None]): User wallet address (the signer / sender).
                    claim_type (Union[BuildDeFiClaimTransactionClaimTypeEnum, None]): Claim routing type. Determines which companion fields are required: - `REWARD_PROTOCOL`: protocol-level rewards (e.g. Aave incentive, Radiant) — requires `defiProtocolId` + `binanceChainId` - `REWARD_INVESTMENT`: per-investment rewards — requires `investmentId` - `LP_FEE`: Uniswap V3/V4 LP fees — requires `investmentId` + `nftId` - `REDEMPTION`: redeem principal (Lista / Aster / Solv etc.) — requires `investmentId` + `redemptionId`  **Protocol constraints** — not every `claimType` is valid for every protocol; an invalid combination is rejected (`40453` or `40454`): - `REWARD_PROTOCOL` is **not** supported for LP (liquidity-pool) protocols in this release. - `REWARD_INVESTMENT` is not supported for PancakeSwap V3 farming positions; use `LP_FEE`   to claim farming incentives there. - `LP_FEE` applies only to concentrated-liquidity (V3/V4) LP positions. - `REDEMPTION` applies only to protocols with a redemption / lock-up flow (Lista, Aster, Solv).  The valid `claimType`s for a specific position are returned in that position's `positionDetail.claimTypes` (see the position list) — branch on that rather than hard-coding the mapping. Note: error messages may surface the protocol id with a chain prefix (e.g. `bsc_pancakeswap4`); the canonical id in API fields is the un-prefixed form (e.g. `pancakeswap4`).
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    binance_chain_id (Optional[str] = None): Binance chain ID. For `REWARD_PROTOCOL` (which does not use `investmentId`) this is the only chain signal and is required. For all other claim types the chain is resolved from `investmentId` and any client-supplied value is silently ignored — the call still executes on the `investmentId` chain, so a different chainId does not redirect the claim.
                    investment_id (Optional[str] = None): Required for `REWARD_INVESTMENT`, `LP_FEE`, and `REDEMPTION`. Not used for `REWARD_PROTOCOL` (which keys off `defiProtocolId`).
                    defi_protocol_id (Optional[str] = None): Required for `REWARD_PROTOCOL` (e.g. `pancakeswap3`).
                    nft_id (Optional[str] = None): Required for `LP_FEE`. The NFT token ID as a decimal string (e.g. `"7225901"` or `"#7225901"`). The `#` prefix returned by the position list may be passed as-is — the service strips it automatically.
                    redemption_id (Optional[str] = None): Required for `REDEMPTION`. Maps to the `redemptionId` returned in the position list (the on-line position index).
                    token_address_list (Optional[List[str]] = None): Optional token address filter to narrow the claim scope.
                    simulate (Optional[bool] = None): When `true`, the response also includes a `preview` object. Default `false`. If the simulated transaction reverts, the request returns `40485` for a specific classified revert reason or `40484` for any other revert (see Error Codes).

                Returns:
                    ApiResponse[BuildDeFiClaimTransactionResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if claim_type is None:
            raise RequiredError(
                field="claim_type",
                error_message="Missing required parameter 'claim_type'",
            )

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "claim_type": claim_type,
            "binance_chain_id": binance_chain_id,
            "investment_id": investment_id,
            "defi_protocol_id": defi_protocol_id,
            "nft_id": nft_id,
            "redemption_id": redemption_id,
            "token_address_list": token_address_list,
            "simulate": simulate,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/transaction/claim",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=BuildDeFiClaimTransactionResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def build_de_fi_deposit_transaction(
        self,
        address: Union[str, None],
        investment_id: Union[str, None],
        token: Union[BuildDeFiDepositTransactionRequestToken, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        simulate: Optional[bool] = None,
    ) -> ApiResponse[BuildDeFiDepositTransactionResponse]:
        """
                Build DeFi Deposit Transaction
                POST /api/v1/defi/transaction/deposit
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-transaction#build-de-fi-deposit-transaction

                Build the unsigned transaction calldata for a DeFi deposit / stake. Returns an ordered `dataList` (typically `[APPROVE, DEPOSIT]`, or `[DEPOSIT]` when the allowance is already sufficient) for the caller to sign and broadcast.
        The caller does NOT pass `binanceChainId` — the service resolves it from `investmentId`. Set `simulate=true` to also receive a `preview` (projected balance change, estimated gas, and lending health-factor change) without broadcasting.

                Args:
                    address (Union[str, None]): User wallet address (the signer / sender).
                    investment_id (Union[str, None]): Investment product ID (chain-agnostic). The service resolves the chain from this ID.
                    token (Union[BuildDeFiDepositTransactionRequestToken, None]):
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    simulate (Optional[bool] = None): When `true`, the response also includes a `preview` object. Default `false`. If the simulated transaction reverts, the request returns `40485` for a specific classified revert reason or `40484` for any other revert (see Error Codes).

                Returns:
                    ApiResponse[BuildDeFiDepositTransactionResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if investment_id is None:
            raise RequiredError(
                field="investment_id",
                error_message="Missing required parameter 'investment_id'",
            )
        if token is None:
            raise RequiredError(
                field="token", error_message="Missing required parameter 'token'"
            )

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "investment_id": investment_id,
            "token": token,
            "simulate": simulate,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/transaction/deposit",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=BuildDeFiDepositTransactionResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def build_de_fi_redeem_transaction(
        self,
        address: Union[str, None],
        investment_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        token: Optional[BuildDeFiRedeemTransactionRequestToken] = None,
        ratio: Optional[str] = None,
        slippage_bps: Optional[str] = None,
        simulate: Optional[bool] = None,
    ) -> ApiResponse[BuildDeFiRedeemTransactionResponse]:
        """
                Build DeFi Redeem Transaction
                POST /api/v1/defi/transaction/redeem
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-transaction#build-de-fi-redeem-transaction

                Build the unsigned transaction calldata for a DeFi redeem / withdraw. Returns an ordered `dataList` (typically `[REDEEM]` or `[APPROVE, REDEEM]`).
        **Redeem amount is decided by exactly one of `ratio` or `token`** (mutually exclusive): - `ratio` omitted / blank → **exact-amount redeem**: the amount comes from
          `token` (`tokenAddress` + `amount`); the position is *not* queried. `token` is required
          in this mode (omitting `token`, or leaving `amount` blank, is rejected with `40001`,
          `Parameter error`; both `ratio` and `token` absent is also rejected with `40001`).
        - `ratio` present → **proportional redeem**: must parse as a decimal in `(0, 1]`. The
          service queries the user's on-chain position under `investmentId` and scales each
          token's amount by `ratio` (floored to the token's decimals). `ratio="1"` is a full (max)
          redeem. In this mode `token` is **ignored** — the output tokens and amounts are derived
          from the position.

        `slippageBps` is the slippage tolerance in basis points (e.g. `300` = 3%). The caller does NOT pass `binanceChainId` — resolved from `investmentId`. Set `simulate=true` to also receive `preview`.
        The response also carries `redeemDelayDays` — the redeem waiting period as a `[min, max]` day pair (e.g. `["7","10"]` = 7–10 days, `[]` = instant). The wait starts after the redeem tx is confirmed on-chain. See the `redeemDelayDays` field on `DefiTxResponse`.

                Args:
                    address (Union[str, None]): User wallet address (the signer / sender).
                    investment_id (Union[str, None]): Investment product ID (chain-agnostic). The service resolves the chain from this ID.
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    token (Optional[BuildDeFiRedeemTransactionRequestToken] = None):
                    ratio (Optional[str] = None): Redeem ratio, mutually exclusive with `token`. Omitted / blank → exact-amount redeem via `token` (`tokenAddress` + `amount`, position not queried). Present → must parse as a decimal in `(0, 1]`; the service queries the on-chain position under `investmentId` and scales each token amount by `ratio` (floored to decimals). `"1"` = full (max) redeem; in this mode `token` is ignored.
                    slippage_bps (Optional[str] = None): Slippage tolerance in basis points (e.g. `300` = 3%).
                    simulate (Optional[bool] = None): When `true`, the response also includes a `preview` object. Default `false`. If the simulated transaction reverts, the request returns an error code instead of a `200` with `preview.success=false`: `40485` when the redeem amount exceeds the current position, `40484` for any other revert (see Error Codes).

                Returns:
                    ApiResponse[BuildDeFiRedeemTransactionResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if investment_id is None:
            raise RequiredError(
                field="investment_id",
                error_message="Missing required parameter 'investment_id'",
            )

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "investment_id": investment_id,
            "token": token,
            "ratio": ratio,
            "slippage_bps": slippage_bps,
            "simulate": simulate,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/transaction/redeem",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=BuildDeFiRedeemTransactionResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def build_lp_add_transaction(
        self,
        address: Union[str, None],
        investment_id: Union[str, None],
        token_list: Union[List[BuildLpAddTransactionRequestTokenListInner], None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        tick_lower: Optional[str] = None,
        tick_upper: Optional[str] = None,
        price_range: Optional[str] = None,
        nft_id: Optional[str] = None,
        slippage_bps: Optional[str] = None,
        simulate: Optional[bool] = None,
    ) -> ApiResponse[BuildLpAddTransactionResponse]:
        """
                Build LP Add Transaction
                POST /api/v1/defi/transaction/lp-add
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-transaction#build-lp-add-transaction

                Build the unsigned transaction calldata for adding liquidity. `tokenList` supports multiple tokens. Returns an ordered `dataList` (typically `[APPROVE, LP_ADD]`).
        **Tick range source (provide exactly one group)**:
        1. `nftId` — append to an existing LP position (reuses its range).
        2. `priceRange` — percentage band (e.g. `"5"` = ±5%) for a new position.
        3. `tickLower` + `tickUpper` — explicit raw `int24` pair for a new position.
        **Rules**:
        - If more than one group is supplied, only the highest-priority one above is used and the
          others are silently ignored (priority: `nftId` > `priceRange` > explicit tick pair).

        - If none is supplied, the request is rejected (`40453`).
        - `tickLower` / `tickUpper` are raw `int24` values and MUST be aligned to the pool's
          `tickSpacing`, otherwise the request is rejected (`40453`).

        - The caller does NOT pass `binanceChainId` — resolved from `investmentId`.

                Args:
                    address (Union[str, None]): User wallet address (the signer / sender).
                    investment_id (Union[str, None]): LP investment product ID (chain-agnostic).
                    token_list (Union[List[BuildLpAddTransactionRequestTokenListInner], None]): Tokens to supply. Two tokens for a standard LP add.
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    tick_lower (Optional[str] = None): Lower tick bound (raw `int24`) for a new position. MUST be aligned to the pool's `tickSpacing`. Pick exactly one tick-range source: `tickLower`+`tickUpper`, `priceRange`, or `nftId` (to append to an existing position). If several are supplied, the lowest-priority ones are ignored (priority: `nftId` > `priceRange` > explicit tick pair).
                    tick_upper (Optional[str] = None): Upper tick bound (raw `int24`) for a new position. MUST be aligned to the pool's `tickSpacing`. See `tickLower` for the pick-exactly-one rule.
                    price_range (Optional[str] = None): Price range as a percentage (e.g. `"5"` = ±5%) for a new position. Alternative to `tickLower`+`tickUpper`; see `tickLower` for the pick-exactly-one rule.
                    nft_id (Optional[str] = None): LP NFT token ID, decimal string (e.g. `"7225901"` or `"#7225901"`). Required when appending to an existing position (reuses its range); omit for a new position. Highest-priority tick-range source — see `tickLower` for the pick-exactly-one rule. The `#` prefix returned by the position list may be passed as-is — the service strips it automatically.
                    slippage_bps (Optional[str] = None): Slippage tolerance for the LP leg, in basis points (e.g. `300` = 3%).
                    simulate (Optional[bool] = None): When `true`, the response also includes a `preview` object. Default `false`. If the simulated transaction reverts, the request returns `40485` for a specific classified revert reason or `40484` for any other revert (see Error Codes).

                Returns:
                    ApiResponse[BuildLpAddTransactionResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if investment_id is None:
            raise RequiredError(
                field="investment_id",
                error_message="Missing required parameter 'investment_id'",
            )
        if token_list is None:
            raise RequiredError(
                field="token_list",
                error_message="Missing required parameter 'token_list'",
            )

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "investment_id": investment_id,
            "token_list": token_list,
            "tick_lower": tick_lower,
            "tick_upper": tick_upper,
            "price_range": price_range,
            "nft_id": nft_id,
            "slippage_bps": slippage_bps,
            "simulate": simulate,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/transaction/lp-add",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=BuildLpAddTransactionResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def build_lp_remove_transaction(
        self,
        address: Union[str, None],
        investment_id: Union[str, None],
        nft_id: Union[str, None],
        ratio: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        slippage_bps: Optional[str] = None,
        simulate: Optional[bool] = None,
    ) -> ApiResponse[BuildLpRemoveTransactionResponse]:
        """
                Build LP Remove Transaction
                POST /api/v1/defi/transaction/lp-remove
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-transaction#build-lp-remove-transaction

                Build the unsigned transaction calldata for removing liquidity. Removal is by `nftId` + `ratio` (range `(0, 1]`) — no `tokenList` is needed; the per-token amounts are derived from the on-chain position. Returns an ordered `dataList` (typically `[LP_REMOVE]`).
        `slippageBps` is the LP-leg slippage tolerance in basis points. The caller does NOT pass `binanceChainId` — resolved from `investmentId`.

                Args:
                    address (Union[str, None]): User wallet address (the signer / sender).
                    investment_id (Union[str, None]): LP investment product ID (chain-agnostic).
                    nft_id (Union[str, None]): LP NFT token ID identifying the position to remove, decimal string (e.g. `"7225901"` or `"#7225901"`). The `#` prefix returned by the position list may be passed as-is — the service strips it automatically.
                    ratio (Union[str, None]): Removal ratio in the range `(0, 1]` as a decimal string (e.g. `"0.04"`, `"1"`).
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    slippage_bps (Optional[str] = None): Slippage tolerance for the LP leg, in basis points (e.g. `300` = 3%).
                    simulate (Optional[bool] = None): When `true`, the response also includes a `preview` object. Default `false`. If the simulated transaction reverts, the request returns `40485` for a specific classified revert reason or `40484` for any other revert (see Error Codes).

                Returns:
                    ApiResponse[BuildLpRemoveTransactionResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if investment_id is None:
            raise RequiredError(
                field="investment_id",
                error_message="Missing required parameter 'investment_id'",
            )
        if nft_id is None:
            raise RequiredError(
                field="nft_id", error_message="Missing required parameter 'nft_id'"
            )
        if ratio is None:
            raise RequiredError(
                field="ratio", error_message="Missing required parameter 'ratio'"
            )

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "investment_id": investment_id,
            "nft_id": nft_id,
            "ratio": ratio,
            "slippage_bps": slippage_bps,
            "simulate": simulate,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/transaction/lp-remove",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=BuildLpRemoveTransactionResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def calculate_lp_add_paired_amounts(
        self,
        address: Union[str, None],
        investment_id: Union[str, None],
        input_token: Union[BuildDeFiDepositTransactionRequestToken, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        tick_lower: Optional[str] = None,
        tick_upper: Optional[str] = None,
        price_range: Optional[str] = None,
        nft_id: Optional[str] = None,
    ) -> ApiResponse[CalculateLpAddPairedAmountsResponse]:
        """
                Calculate LP Add Paired Amounts
                POST /api/v1/defi/transaction/lp-add/calculate
                https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/defi-transaction#calculate-lp-add-paired-amounts

                Given a single input token, calculate the paired token amount needed for an LP add. This is a **pure computation endpoint** — it does not touch the chain and does not deduct any fee. Use it before `/transaction/lp-add` to size the paired token when only one side is supplied.
        Tick range source rules are the same as `/lp-add` — provide exactly one group: `nftId` (existing position), `priceRange`, or `tickLower`+`tickUpper`.
        - If more than one group is supplied, only the highest-priority one is used and the others
          are silently ignored (priority: `nftId` > `priceRange` > explicit tick pair).

        - If none is supplied, the request is rejected.
        - The caller does NOT pass `binanceChainId` — resolved from `investmentId`.

                Args:
                    address (Union[str, None]): User wallet address.
                    investment_id (Union[str, None]): LP investment product ID (chain-agnostic).
                    input_token (Union[BuildDeFiDepositTransactionRequestToken, None]):
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    tick_lower (Optional[str] = None): Lower tick bound (raw `int24`), aligned to the pool's `tickSpacing`.
                    tick_upper (Optional[str] = None): Upper tick bound (raw `int24`), aligned to the pool's `tickSpacing`.
                    price_range (Optional[str] = None): Price range as a percentage (e.g. `"5"` = ±5%).
                    nft_id (Optional[str] = None): Required when calculating for an existing LP position.

                Returns:
                    ApiResponse[CalculateLpAddPairedAmountsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if investment_id is None:
            raise RequiredError(
                field="investment_id",
                error_message="Missing required parameter 'investment_id'",
            )
        if input_token is None:
            raise RequiredError(
                field="input_token",
                error_message="Missing required parameter 'input_token'",
            )

        request_body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "investment_id": investment_id,
            "input_token": input_token,
            "tick_lower": tick_lower,
            "tick_upper": tick_upper,
            "price_range": price_range,
            "nft_id": nft_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/defi/transaction/lp-add/calculate",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=CalculateLpAddPairedAmountsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )
