"""
Binance Wallet REST API

Cross-chain wallet, market, trading, and transaction APIs for the OnchainOS platform.
The version of the OpenAPI document: 1.0.0
Contact: wallet-api@binance.com
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import BroadcastTransactionsResponse
from ..models import GetBroadcastOrdersResponse
from ..models import GetGasLimitResponse
from ..models import GetGasPriceResponse
from ..models import GetTransactionDetailByHashResponse
from ..models import GetTransactionSupportedChainsResponse
from ..models import GetTransactionsByAddressResponse
from ..models import SimulateTransactionsResponse


from ..models import GetGasLimitRequestEvmTx
from ..models import GetGasLimitRequestSolTx
from ..models import SimulateTransactionsRequestEvmTx
from ..models import SimulateTransactionsRequestSolTx


class TransactionApi:
    """API Client for TransactionApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def broadcast_transactions(
        self,
        binance_chain_id: Union[str, None],
        signed_transaction: Union[str, None],
        address: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        enable_mev_protection: Optional[bool] = None,
    ) -> ApiResponse[BroadcastTransactionsResponse]:
        """
                Broadcast Transactions
                POST /api/v1/dex/pre-transaction/broadcast-transaction


                Broadcast a client-signed transaction to the chain via the OnchainOS relay. Returns the transaction hash and an internal `orderId` you can use to track on-chain status via the post-transaction service.
        Optional MEV protection (EVM chains only) routes the transaction through a private mempool to mitigate front-running and sandwich attacks.

                Args:
                    binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana).
                    signed_transaction (Union[str, None]): Client-signed raw transaction. EVM chains use a hex-encoded RLP transaction; Solana uses a base64-encoded signed transaction.
                    address (Union[str, None]): Sender wallet address. Used for status attribution and signature verification.
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    enable_mev_protection (Optional[bool] = None): When true, route the transaction through a private mempool for MEV protection.

                Returns:
                    ApiResponse[BroadcastTransactionsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )
        if signed_transaction is None:
            raise RequiredError(
                field="signed_transaction",
                error_message="Missing required parameter 'signed_transaction'",
            )
        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "binance_chain_id": binance_chain_id,
            "signed_transaction": signed_transaction,
            "address": address,
            "enable_mev_protection": enable_mev_protection,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/dex/pre-transaction/broadcast-transaction",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=BroadcastTransactionsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_broadcast_orders(
        self,
        address: Union[str, None],
        binance_chain_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        tx_status: Optional[str] = None,
        order_id: Optional[str] = None,
        cursor: Optional[str] = None,
        limit: Optional[int] = None,
    ) -> ApiResponse[GetBroadcastOrdersResponse]:
        """
        Get Broadcast Orders
        GET /api/v1/dex/post-transaction/orders


        Look up broadcast orders previously submitted via `/pre-transaction/broadcast-transaction`. Filter by `txStatus` or `orderId`, paginate with `cursor`.

        Args:
            address (Union[str, None]): Sender wallet address whose orders to list.
            binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana).
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            tx_status (Optional[str] = None): Optional filter on transaction status (server-defined string, e.g. "pending", "success", "fail").
            order_id (Optional[str] = None): Optional filter to fetch a single order by its internal order ID.
            cursor (Optional[str] = None): Pagination cursor returned by the previous page. Omit on the first request.
            limit (Optional[int] = None): Page size. Defaults to 20.

        Returns:
            ApiResponse[GetBroadcastOrdersResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "binance_chain_id": binance_chain_id,
            "tx_status": tx_status,
            "order_id": order_id,
            "cursor": cursor,
            "limit": limit,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/post-transaction/orders",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetBroadcastOrdersResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_gas_limit(
        self,
        binance_chain_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        evm_tx: Optional[GetGasLimitRequestEvmTx] = None,
        sol_tx: Optional[GetGasLimitRequestSolTx] = None,
    ) -> ApiResponse[GetGasLimitResponse]:
        """
                Get Gas Limit
                POST /api/v1/dex/pre-transaction/gas-limit


                Estimate the gas limit (or compute-unit ceiling on Solana) for an unsigned transaction.
        Provide either `evmTx` for EVM chains or `solTx` for Solana, matching the value of `binanceChainId`.

                Args:
                    binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana).
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    evm_tx (Optional[GetGasLimitRequestEvmTx] = None):
                    sol_tx (Optional[GetGasLimitRequestSolTx] = None):

                Returns:
                    ApiResponse[GetGasLimitResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "binance_chain_id": binance_chain_id,
            "evm_tx": evm_tx,
            "sol_tx": sol_tx,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/dex/pre-transaction/gas-limit",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetGasLimitResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_gas_price(
        self,
        binance_chain_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetGasPriceResponse]:
        """
                Get Gas Price
                GET /api/v1/dex/pre-transaction/gas-price


                Query the current network gas price for the specified chain. The response shape varies by chain family:
        - EVM chains return both `evmLegacyGasPrice` (legacy gasPrice) and
          `eip1559GasPrice` (baseFee + priority/max fees) when EIP-1559 is supported.
        - Solana returns `solanaGasPrice` (compute-unit prices and Jito tips).
        Fields not applicable to the chain family are returned as `null`.

                Args:
                    binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana).
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

                Returns:
                    ApiResponse[GetGasPriceResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )

        body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {
            "binance_chain_id": binance_chain_id,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/pre-transaction/gas-price",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetGasPriceResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_transaction_detail_by_hash(
        self,
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        binance_chain_id: Optional[str] = None,
        tx_hash: Optional[str] = None,
        itype: Optional[str] = None,
    ) -> ApiResponse[GetTransactionDetailByHashResponse]:
        """
        Get Transaction Detail by Hash
        GET /api/v1/dex/post-transaction/transaction-detail-by-txhash


        Look up the full on-chain transaction detail by `binanceChainId` + `txHash`. Returns one or more entries describing transaction inputs, outputs, internal calls, and token transfers.

        Args:
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            binance_chain_id (Optional[str] = None): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana).
            tx_hash (Optional[str] = None): On-chain transaction hash.
            itype (Optional[str] = None): Optional transaction-type filter (UTXO chains). Values mirror the `itype` field in `/transactions-by-address`: "0"=outer native-token, "1"=internal contract native-token, "2"=token transfer.

        Returns:
            ApiResponse[GetTransactionDetailByHashResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "binance_chain_id": binance_chain_id,
            "tx_hash": tx_hash,
            "itype": itype,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/post-transaction/transaction-detail-by-txhash",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetTransactionDetailByHashResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_transaction_supported_chains(
        self,
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetTransactionSupportedChainsResponse]:
        """
        Get Transaction Supported Chains
        GET /api/v1/dex/pre-transaction/supported/chain


        Return the blockchain networks supported by the Transaction service for gas estimation, simulation, and broadcasting. The list is dynamically configured server-side and may change over time.

        Args:
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[GetTransactionSupportedChainsResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/pre-transaction/supported/chain",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetTransactionSupportedChainsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_transactions_by_address(
        self,
        address: Union[str, None],
        chains: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        token_contract_address: Optional[str] = None,
        begin: Optional[int] = None,
        end: Optional[int] = None,
        cursor: Optional[str] = None,
        limit: Optional[int] = None,
    ) -> ApiResponse[GetTransactionsByAddressResponse]:
        """
        Get Transactions by Address
        GET /api/v1/dex/post-transaction/transactions-by-address


        Return on-chain transaction history for a wallet address across one or more chains. Results are limited to the most recent 6 months and sorted by time (descending). Supports cursor pagination, time-range filtering, and token-contract filtering.

        Args:
            address (Union[str, None]): Wallet address to query.
            chains (Union[str, None]): Comma-separated list of chain identifiers.
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            token_contract_address (Optional[str] = None): Optional token contract address filter.
            begin (Optional[int] = None): Optional start timestamp (Unix milliseconds, inclusive).
            end (Optional[int] = None): Optional end timestamp (Unix milliseconds, inclusive).
            cursor (Optional[str] = None): Pagination cursor returned by the previous page.
            limit (Optional[int] = None): Page size. Range 1–100. Defaults to 20.

        Returns:
            ApiResponse[GetTransactionsByAddressResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if chains is None:
            raise RequiredError(
                field="chains", error_message="Missing required parameter 'chains'"
            )

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "chains": chains,
            "token_contract_address": token_contract_address,
            "begin": begin,
            "end": end,
            "cursor": cursor,
            "limit": limit,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/post-transaction/transactions-by-address",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetTransactionsByAddressResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def simulate_transactions(
        self,
        binance_chain_id: Union[str, None],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        evm_tx: Optional[SimulateTransactionsRequestEvmTx] = None,
        sol_tx: Optional[SimulateTransactionsRequestSolTx] = None,
    ) -> ApiResponse[SimulateTransactionsResponse]:
        """
                Simulate Transactions
                POST /api/v1/dex/pre-transaction/simulate


                Simulate transaction execution off-chain to predict its outcome before broadcasting. The response includes the predicted execution status, balance changes per affected account/token, and ERC-20 allowance changes (EVM chains).
        Provide either `evmTx` (EVM chains) or `solTx` (Solana) matching `binanceChainId`.

                Args:
                    binance_chain_id (Union[str, None]): Unique chain identifier (e.g. "1"=Ethereum, "56"=BSC, "CT_501"=Solana).
                    recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
                    nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
                    evm_tx (Optional[SimulateTransactionsRequestEvmTx] = None):
                    sol_tx (Optional[SimulateTransactionsRequestSolTx] = None):

                Returns:
                    ApiResponse[SimulateTransactionsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if binance_chain_id is None:
            raise RequiredError(
                field="binance_chain_id",
                error_message="Missing required parameter 'binance_chain_id'",
            )

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "binance_chain_id": binance_chain_id,
            "evm_tx": evm_tx,
            "sol_tx": sol_tx,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/dex/pre-transaction/simulate",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=SimulateTransactionsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )
