"""
Binance Wallet REST API

Cross-chain wallet, market, trading, and transaction APIs for the OnchainOS platform.
The version of the OpenAPI document: 1.0.0
Contact: wallet-api@binance.com
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import List, Optional, Union
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.errors import RequiredError
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import GetAllTokenBalancesByAddressResponse
from ..models import GetTokenBalancesByAddressResponse
from ..models import GetTotalValueByAddressResponse
from ..models import GetWalletSupportedChainsResponse
from ..models import GetTokenBalancesByAddressRequestTokenContractAddressesInner
from ..models import GetTokenBalancesByAddressExcludeRiskTokenEnum
from ..models import GetTotalValueByAddressAssetTypeEnum


class WalletApi:
    """API Client for WalletApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_all_token_balances_by_address(
        self,
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        address: Optional[str] = None,
        chains: Optional[str] = None,
        exclude_risk_token: Optional[bool] = None,
        page: Optional[int] = None,
        page_size: Optional[int] = None,
    ) -> ApiResponse[GetAllTokenBalancesByAddressResponse]:
        """
        Get All Token Balances by Address
        GET /api/v1/dex/balance/all-token-balances-by-address


        Return all token balances held by an address across one or more chains, with pagination support. Set `excludeRiskToken=true` to filter out airdrop-risk and honeypot tokens (honeypot detection currently applies only to ETH / BSC / SOL / BASE).

        Args:
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            address (Optional[str] = None): Wallet address to query.
            chains (Optional[str] = None): Comma-separated list of chain identifiers.
            exclude_risk_token (Optional[bool] = None): Whether to exclude risk-flagged tokens.
            page (Optional[int] = None): Page number. Defaults to 1.
            page_size (Optional[int] = None): Page size. Range 1–100. Defaults to 20.

        Returns:
            ApiResponse[GetAllTokenBalancesByAddressResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "chains": chains,
            "exclude_risk_token": exclude_risk_token,
            "page": page,
            "page_size": page_size,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/balance/all-token-balances-by-address",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetAllTokenBalancesByAddressResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_token_balances_by_address(
        self,
        address: Union[str, None],
        token_contract_addresses: Union[
            List[GetTokenBalancesByAddressRequestTokenContractAddressesInner], None
        ],
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        exclude_risk_token: Optional[
            GetTokenBalancesByAddressExcludeRiskTokenEnum
        ] = None,
    ) -> ApiResponse[GetTokenBalancesByAddressResponse]:
        """
        Get Token Balances by Address
        POST /api/v1/dex/balance/token-balances-by-address


        Return token balances for a specific list of (chain, contract) pairs. Up to 20 entries per request. Set `excludeRiskToken="0"` to exclude risk-flagged tokens (default), or `"1"` to include them.

        Args:
            address (Union[str, None]): Wallet address to query.
            token_contract_addresses (Union[List[GetTokenBalancesByAddressRequestTokenContractAddressesInner], None]): Tokens to query, up to 20 entries.
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            exclude_risk_token (Optional[GetTokenBalancesByAddressExcludeRiskTokenEnum] = None): Risk-token filter. "0"=exclude (default), "1"=include. Honeypot detection currently applies only to ETH / BSC / SOL / BASE.

        Returns:
            ApiResponse[GetTokenBalancesByAddressResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        if address is None:
            raise RequiredError(
                field="address", error_message="Missing required parameter 'address'"
            )
        if token_contract_addresses is None:
            raise RequiredError(
                field="token_contract_addresses",
                error_message="Missing required parameter 'token_contract_addresses'",
            )

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "token_contract_addresses": token_contract_addresses,
            "exclude_risk_token": exclude_risk_token,
        }

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/api/v1/dex/balance/token-balances-by-address",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetTokenBalancesByAddressResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_total_value_by_address(
        self,
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        address: Optional[str] = None,
        chains: Optional[str] = None,
        asset_type: Optional[GetTotalValueByAddressAssetTypeEnum] = None,
        exclude_risk_token: Optional[bool] = None,
    ) -> ApiResponse[GetTotalValueByAddressResponse]:
        """
        Get Total Value by Address
        GET /api/v1/dex/balance/total-value-by-address


        Return the aggregated USD valuation of an address across one or more chains. Optional filters narrow the result to specific asset types or exclude risk-flagged tokens.

        Args:
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            address (Optional[str] = None): Wallet address to query.
            chains (Optional[str] = None): Comma-separated list of chain identifiers. Omit to query all supported chains.
            asset_type (Optional[GetTotalValueByAddressAssetTypeEnum] = None): Asset type filter. "0"=all (default), "1"=Token, "2"=DeFi.
            exclude_risk_token (Optional[bool] = None): Whether to exclude risk-flagged tokens (airdrop risk / honeypot). Defaults to true.

        Returns:
            ApiResponse[GetTotalValueByAddressResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {
            "address": address,
            "chains": chains,
            "asset_type": asset_type,
            "exclude_risk_token": exclude_risk_token,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/balance/total-value-by-address",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetTotalValueByAddressResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )

    def get_wallet_supported_chains(
        self,
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
        binance_chain_id: Optional[str] = None,
    ) -> ApiResponse[GetWalletSupportedChainsResponse]:
        """
        Get Wallet Supported Chains
        GET /api/v1/dex/balance/supported/chain


        Return blockchain networks for which the Wallet service can return balances. The supported list is dynamically configured server-side and may change over time. Pass `binanceChainId` to filter to a single chain; omit to get the full list.

        Args:
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.
            binance_chain_id (Optional[str] = None): Optional chain identifier. When set, only that chain is returned.

        Returns:
            ApiResponse[GetWalletSupportedChainsResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        body = {}
        headers = {
            "recv_window": recv_window,
            "nonce": nonce,
        }
        payload = {"binance_chain_id": binance_chain_id}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/balance/supported/chain",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetWalletSupportedChainsResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )
