"""
Binance Web3 Wallet REST API

Cross-chain wallet, market, trading, transaction, and B402 payment APIs for the Binance Web3 API platform.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional
from requests import Session
from binance_common.configuration import ConfigurationRestAPI
from binance_common.models import ApiResponse
from binance_common.signature import Signers
from binance_common.utils import send_request

from ..models import GetWebSocketAuthTokenResponse


class WebSocketApi:
    """API Client for WebSocketApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_web_socket_auth_token(
        self,
        recv_window: Optional[int] = None,
        nonce: Optional[str] = None,
    ) -> ApiResponse[GetWebSocketAuthTokenResponse]:
        """
        Get WebSocket Auth Token
        GET /api/v1/dex/market/wss/auth/token
        https://web3.binance.com/en/dev-docs/catalog/web3-wallet/api/rest-api/web-socket-api#get-web-socket-auth-token

        Get a WebSocket auth token before connecting to the WebSocket stream service. For details on WebSocket usage, please refer to the [WebSocket documentation](/products/websocket-api/introduction).


        Args:
            recv_window (Optional[int] = None): Allowed time deviation in milliseconds (default: 5000, max: 60000).
            nonce (Optional[str] = None): Unique request identifier for anti-replay; falls back to X-OC-SIGN if omitted.

        Returns:
            ApiResponse[GetWebSocketAuthTokenResponse]

        Raises:
            RequiredError: If a required parameter is missing.

        """

        request_body = {}
        headers = {"recv_window": recv_window, "nonce": nonce}
        payload = {}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/api/v1/dex/market/wss/auth/token",
            payload=payload,
            body=request_body,
            time_unit=self._configuration.time_unit,
            response_model=GetWebSocketAuthTokenResponse,
            web3_headers=headers,
            is_signed=True,
            signer=self._signer,
        )
